@use "sass:list";
@use "sass:map";

$fonts: (
  100: "light",
  // 400: "Regular",
  500: "medium",
  800: "bold",
);
@each $weight, $name in $fonts {
  @font-face {
    font-family: "Intel One Mono";
    src: url(/fonts/intelone-mono-font-family-#{$name}.woff);
    font-style: normal;
    font-weight: $weight;
  }
  @font-face {
    font-family: "Intel One Mono";
    src: url(/fonts/intelone-mono-font-family-#{$name}.woff);
    font-style: italic;
    font-weight: $weight;
  }
}
@font-face {
  font-family: "Intel One Mono";
  src: url(/fonts/intelone-mono-font-family-regular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Intel One Mono";
  src: url(/fonts/intelone-mono-font-family-italic.woff);
  font-style: italic;
  font-weight: 400;
}
